@import "../../app/variables.module.scss";

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  z-index: 2;
}
.logo {
  margin: 30px;
  width: 100px;
}
.list {
  display: flex;
  list-style: none;
  align-items: baseline;
}
