@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,900&family=Gabarito:wght@400;500;600;800;900&display=swap");
@import "./variables.module.scss";
:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --gabrito-font: "Gabarito", serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-desaturated-cyan-primary;
}
